name: Publish Package
on:
  workflow_dispatch:
    inputs:
      rockspec:
        type: choice
        description: 'What to publish?'
        options:
          - server
          - redis
          - both
      dry_run:
        description: "Dry run? If checked, don't publish."
        type: boolean
        required: false
        default: true
      skip_pack:
        description: "Don't include source rock? If checked, only publish rockspec."
        required: false
        type: boolean
        default: false
      force:
        description: "Overwrite existing version?"
        type: boolean
        required: false
        default: false

jobs:
  rockspecs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/rockspec-names

  build-publish:
    needs: rockspecs
    runs-on: ubuntu-latest

    # Needed for AWS SSM access.
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4
      - uses: launchdarkly/gh-actions/actions/release-secrets@release-secrets-v1.0.0
        name: 'Get LuaRocks token'
        with:
          aws_assume_role: ${{ vars.AWS_ROLE_ARN }}
          ssm_parameter_pairs: '/production/common/releasing/luarocks/token = LUAROCKS_API_TOKEN'

      - uses: ./.github/actions/ci
      - uses: ./.github/actions/publish
        name: ${{ format('Publish launchdarkly-server-sdk @ {0}', needs.rockspecs.outputs.server_version) }}
        if: ${{ inputs.rockspec == 'server' || inputs.rockspec == 'both' }}
        with:
          dry_run: ${{ inputs.dry_run }}
          rockspec: ${{ needs.rockspecs.outputs.server }}
          skip_pack: ${{ inputs.skip_pack }}
          force: ${{ inputs.force }}

      - uses: ./.github/actions/publish
        name: ${{ format('Publish launchdarkly-server-sdk-redis @ {0}', needs.rockspecs.outputs.server_redis_version) }}
        if: ${{ inputs.rockspec == 'redis' || inputs.rockspec == 'both'}}
        with:
          dry_run: ${{ inputs.dry_run }}
          rockspec: ${{ needs.rockspecs.outputs.server_redis }}
          skip_pack: ${{ inputs.skip_pack }}
          force: ${{ inputs.force }}

  install-server-sdk:
    name: ${{ format('Install launchdarkly-server-sdk @ {0}', needs.rockspecs.outputs.server_version) }}
    needs: [rockspecs, build-publish]
    if: ${{ inputs.rockspec == 'server' || inputs.rockspec == 'both' }}
    uses: ./.github/workflows/install-lua-sdk.yml
    with:
      package: launchdarkly-server-sdk
      version: ${{ needs.rockspecs.outputs.server_version }}


  install-server-redis:
    name: ${{ format('Install launchdarkly-server-sdk-redis @ {0}', needs.rockspecs.outputs.server_redis_version) }}
    needs: [rockspecs, build-publish]
    if: ${{ inputs.rockspec == 'redis' || inputs.rockspec == 'both' }}
    uses: ./.github/workflows/install-lua-sdk.yml
    with:
      package: launchdarkly-server-sdk-redis
      version: ${{ needs.rockspecs.outputs.server_redis_version }}
