name: Run Release Please

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  release-please:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write


    steps:
      - uses: google-github-actions/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@v4
        if: ${{ steps.release.outputs.prs_created == 'true' }}

      - name: Update launchdarkly-server-sdk rockspec
        uses: ./.github/actions/update-versions
        if: ${{ steps.release.outputs.prs_created == 'true' }}
        with:
          package: launchdarkly-server-sdk
          branch: ${{ fromJSON(steps.release.outputs.pr).headBranchName }}

      - name: Update launchdarkly-server-sdk-redis rockspec
        uses: ./.github/actions/update-versions
        if: ${{ steps.release.outputs.prs_created == 'true' }}
        with:
          package: launchdarkly-server-sdk-redis
          branch: ${{ fromJSON(steps.release.outputs.pr).headBranchName }}
