name: Run Release Please

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  release-package:
    runs-on: ubuntu-latest

    permissions:
      contents: write # Contents and pull-requests are for release-please to make releases.
      pull-requests: write

    steps:
      - uses: google-github-actions/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@v4

      - name: Update launchdarkly-server-sdk rockspec
        uses: ./.github/actions/update-versions
        if: ${{ steps.release.outputs.prs_created == 'true' }}
        with:
          package: launchdarkly-server-sdk
          branch: ${{ fromJSON(steps.release.outputs.pr).headBranchName }}

      - name: Update launchdarkly-server-sdk-redis rockspec
        uses: ./.github/actions/update-versions
        if: ${{ steps.release.outputs.prs_created == 'true' }}
        with:
          package: launchdarkly-server-sdk-redis
          branch: ${{ fromJSON(steps.release.outputs.pr).headBranchName }}

      - name: Build and Test
        if: ${{ steps.release.outputs.release_created == 'true' }}
        uses: ./.github/actions/ci

      - name: Build documentation
        if: ${{ steps.release.outputs.release_created == 'true' }}
        uses: ./.github/actions/build-docs

      - uses: ./.github/actions/publish-docs
        if: ${{ steps.release.outputs.release_created == 'true' }}
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: ./.github/workflows/manual-publish.yml
        if: ${{ steps.release.outputs.release_created == 'true' }}
        with:
          dry_run: false
          skip_pack: false
          force: false
          rockspec: 'both'
